h1.welcome {
    text-align: center;

}

input.welcome {
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    display: block;
    padding: 10px;
    font-size: 24px;
    text-align: center;
}

.is-complete {
    text-decoration: line-through;
}

.button {
    border: none;
    color: black;
    padding: 15px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
}

.del {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
}