<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/main.css">
        <title>Blog front-end app</title>
    </head>
    <body>
        <div id="vueApp">
            <div class="row">
            <h1 class="welcome">{{welcomeMessage}}</h1>
            </br>
                <div class="column">
                    <h3> All Blog Entries </h3>
                    <ul>
                        <li v-for="article in articles"
                            v-bind:key="article.title"
                            >
                            {{ article.title }}

                            <button class="button"
                                    id="btn2"
                                    v-on:click="deleteArticle(article.id)">
                                Delete
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <h2> Enter the Title and Body of New Article </h1>
                    <label for="titleinput">
                        Title:
                    </label> <br>
        
                    <input class="titleinput"
                        id="titleinput"
                        v-model="articleTitle" /> <br>
                        
                    <label for="bodyinput">
                        Body:
                    </label> <br>
        
                    <textarea class="bodyinput"
                        id="bodyinput"
                        v-model="articleBody" > </textarea> <br>

                    
                    <button class="button"
                        v-on:click="addArticle()"
                        id="btn1">
                    Add
                    </button>
                </div>
        </div>
        <script src="js/vue.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>